@mixin text-ellipsis {
  overflow: hidden; // 을 사용해 영역을 감출 것
  text-overflow: ellipsis; // 로 ... 을 만들기
  white-space: nowrap; // 아래줄로 내려가는 것을 막기위해
  word-break: break-all;
}
.top10 {
  width: calc(100% - 320px);
  @media (max-width: 1200px) {
    width: 90%;
    margin: 0 auto;
  }
  @media (max-width: 900px) {
    width: 100%;
  }
}
.chart-header {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 17px;
  span {
    font-size: 20px;
    padding-left: 10px;
    font-weight: 600;
  }
  button {
    border: 0;
    border-radius: 10px;
    padding: 3px;
    width: 55px;
    height: 30px;
    font-size: 12px;
    background-color: $mainColor;
    font-weight: 500;
  }
}
.chart-wrap {
  overflow-x: auto;
  &::-webkit-scrollbar {
    height: 9px;
  }
  &::-webkit-scrollbar-thumb {
    background: $mainColor; /* 스크롤바의 색상 */
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    background: rgba(233, 203, 114, 0.1); /*스크롤바 뒷 배경 색상*/
  }
}
.chart-div {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  height: calc(7.5vmin * 4 + 40 * 4px);
  @media (max-width: 670px) {
    height: calc(10.5vmin * 4 + 40 * 4px);
  }

  .each-song {
    cursor: pointer;
    margin: 5px;
    padding: 10px 15px;
    background-color: white;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
      rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

    width: 42%;

    @media (max-width: 670px) {
      width: 54%;
    }
    li {
      height: 7.5vmin;
      @media (max-width: 670px) {
        height: 10.5vmin;
      }
      display: flex;
      align-items: center;
      gap: 10px;
      width: 100%;
      .song-detail {
        width: 40%;
        flex-grow: 1;
        height: 100%;
        display: flex;
        gap: 10px;
        .rank {
          padding-top: 7px;
          text-align: center;
          @media (max-width: 500px) {
            font-size: 3vmin;
          }
        }
        .songInfo {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          width: calc(100% - 15px);
          @media (max-width: 900px) {
            padding-top: 7px;
          }

          .title {
            font-size: 15px;
            width: 100%;
            line-height: 26px;
            display: block;
            font-weight: 500;
            margin-bottom: 6px;
            @include text-ellipsis;
            @media (max-width: 500px) {
              font-size: 3vmin;
              line-height: 3vmin;
            }
          }
          .singer {
            font-weight: 400;
            font-size: 13px;
            color: rgba(61, 61, 61, 0.821);

            @include text-ellipsis;
            width: 100%;
            @media (max-width: 500px) {
              font-size: 2.5vmin;
            }
          }
        }
      }
      i {
        padding: 0 10px;
        font-size: 18px;
        color: #a2a2a28c;
        @media (max-width: 400px) {
          font-size: 4vmin;
        }
      }
    }
  }
}

.coverImg {
  height: 100%;
  border-radius: 5px;
  position: relative;
}
