extends base

block newestAlbum
    .newestAlbum 
        h1 최신앨범

block top10
    div.chart-header
        span TOP 10
        button 
            a(href="/chart") 더보기
    .chart-div 
      
        each song, index in songsTop10 
              ul.each-song
                  li
                    img(src=`${song.albumCover}`).coverImg
                    .song-detail
                        span.rank= index+1
                        div.songInfo
                            span.title= song.title
                            span.singer= song.singer

        