
.player-wrap
    #player
        audio#audio-player(control)
        .song-info
            .control
                img(src="/public/client/scss/img/nosong.png")
                i#prev-btn.fa.fa-backward-step
                i#play-btn.fa.fa-play
                i#next-btn.fa.fa-forward-step
            
        .prograss
            .detail 
                span.title 재생중인 곡이 없습니다
                span.singer 곡을 추가해보세요
            .heart-vol 
                i.fa-regular.fa-heart.heart-icon
                .volumn
                    i#mute-toggle.fa.fa-volume-up
                    input#volume-slider(type="range", min="0", max="1", step="0.1", value="0.5")

            .bar
                .current-bar
            .time
                span.current 00:00
                span.full 
script.
 